body {
    background-color: #f8f9fa;
}

h1 {
    margin-bottom: 30px;
}

#message {
    font-weight: bold;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item .btn {
    margin-left: 10px;
}